*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    grid-template-rows: 150px 1fr 100px;
    margin: 0px 400px 0px 400px;
    font-family: 'Righteous', cursive;
    font-family: 'Ubuntu', sans-serif;
}

header{
    display: grid;
}

h1{
    display: flex;
    place-items: center;
    place-content: center;
    gap: 10px;
    color: maroon;
}

main{
    display: grid;
    grid-template-rows: 4fr 2fr;
    row-gap: 24px;
}

.faixa__principal{
    display: grid;
    grid-template-areas: 
    "principal secundaria"
    "principal secundaria";
    gap: 24px;
    grid-template-columns: 7fr 6fr;
}

.img__principal{
    grid-area: principal;
    background-image: url(./img/poster.jpg);
    background-size: 99%;
    background-color: blue;

}

.img__secundaria{
    grid-area: secundaria;
    display: grid;
    grid-template-areas: 
    "img1 img2"
    "img3 img4";
    column-gap: 20px;
    row-gap: 20px;
}

.img1{
    background-image: url(./img/eleven.jpg);
    background-size: 140%;
    grid-area: img1;

}

.img2{
    background-image: url(./img/california.webp);
    background-size: 120%;
    grid-area: img2;

}

.img3{
    background-image: url(./img/reuniaojpg.jpg);
    background-size: cover;
    grid-area: img3;

}

.img4{
    background-image: url(./img/eddy.webp);
    background-size: cover;
    grid-area: img4;

}

.faixa__secundaria{
    display: grid;
    column-gap: 24px;
    grid-template-columns: 2fr 2fr 3fr;

}

.img5{
    background-image: url(./img/vecna.webp);
    background-size: 115%;
}

.img6{
    background-image: url(./img/mundo_invertido_nancy.jpeg);
    background-size: 115%;
}

.img7{
    background-image: url(./img/max.png);
    background-size: 95%;
}
    

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver__mais{
    border-radius: 50px;
    background-color: black;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ver__mais p{
    color: white;
    text-decoration: none;
}