*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    grid-template-rows: 150px 1fr 150px;
    margin: 0px 400px 0px 400px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lora', serif;
    /* background-image: url(./img/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

header{
    display: grid;
}

h1{
    display: grid;
    place-items: center;
    place-content: center;
    color: #102333;
}

p + p{
    color: maroon;
}

main{
    display: grid;
    grid-template-rows: 4fr 2fr;
    row-gap: 15px;
}

.faixa__principal{
    display: grid;
    grid-template-areas: 
    "principal secundaria"
    "principal secundaria";
    gap: 15px;
    grid-template-columns: 7fr 6fr;
}

.img__principal{
    grid-area: principal;
    background-image: url(./img/poster.jpg);
    background-size: cover;
    border-style: solid;
    border-color: #102333;
    display: grid;
    place-items: end start;
}

.faixa__informacoes {
    height: 3em;
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 1fr;
    /* animation-duration: 2s;
    animation-name: informacoes; */
}

.informacoes {
    background-color: rgb(16, 35, 51,0.8);;
    display: grid;
    justify-content: center;
    align-items: center;
}

.informacoes p {
    color: white;
    opacity: 1;
    font-size: 1em;
    opacity: 1;
}

.comprar {
    background-color: maroon;
    display: grid;
    place-items: center;
}

img[alt~="botao"] {
    height: 2.5em;
    width: 2.5em;
}


/* @keyframes informacoes{

    0% {
    transform: translateZ(0);
  }

   100% {
    transform: translateZ(10px);
}

} */

.img__secundaria{
    grid-area: secundaria;
    display: grid;
    grid-template-areas: 
    "img1 img2"
    "img3 img4";
    column-gap: 15px;
    row-gap: 15px;
}

.img__secundaria *{
    border-style: solid;
    border-color: #102333;
}

.img1{
    background-image: url(./img/eleven.jpg);
    background-size: cover;
    grid-area: img1;

}

.img2{
    background-image: url(./img/california.png);
    background-size: cover;
    grid-area: img2;

}

.img3{
    background-image: url(./img/mundo_invertido_nancy.jpeg);
    background-size: cover;
    grid-area: img3;
}

.img4{
    background-image: url(./img/eddy.png);
    background-size: cover;
    grid-area: img4;

}

.faixa__secundaria{
    display: grid;
    column-gap: 15px;
    grid-template-columns: 2fr 2fr 3fr;
}

.faixa__secundaria *{
    border-style: solid;
    border-color: #102333;
}

.img5{
    background-image: url(./img/vecna.png);
    background-size: cover;
}

.img6{
    background-image: url(./img/max__cemiterio.webp);
    background-size: cover;
}

.img7{
    background-image: url(./img/reuniao.jpg);
    background-size: cover;
}   

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver__mais{
    border-radius: 50px;
    background-color: #102333;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
}

.ver__mais p{
    color: white;
}